<!-- template from bootstrap: http://getbootstrap.com/2.3.2/examples/hero.html# -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">My Portfolio</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1>Matt Schaub's Portfolio</h1>
		<p>Welcome to my portfolio web page. Here is where you will find all my projects I wrote in cs 242, including the code for this very website. On the projects page you will see every log previously commited to a project and the details about it. You can see the code for each previous revision as well as metadata surrounding the file and commit. When you click view file on a file that hasn't been deleted, you will either see the code or receive a download to obtain this file through an iframe.</p>
        <a href="/projects" class="btn btn-primary btn-large">Projects page</a></p>
      </div>
      <hr>
    </div> 
  </body>
</html>
